@font-face {
	font-family: 'IndustryInc-Stencil';
	src: url('../fonts/IndustryInc-Stencil.otf');
	text-align: justify
}

@font-face {
	font-family: 'Industry-Medium';
	src: url('../fonts/Industry-Medium.otf');
}

@font-face {
	font-family: 'IndustryInc-InlineStroke';
	src: url('../fonts/IndustryInc-InlineStroke.otf');
}

@font-face {
	font-family: 'IndustryInc-Detail';
	src: url('../fonts/IndustryInc-Detail.otf');
}

@font-face {
	font-family: 'Lane - Narrow';
	src: url('../fonts/LANENAR.ttf');
}

body {
	font-size: 16px !important;
	font-family: 'Lane - Narrow'!important;
}

header {
	background-color: #88D1C0; /*couleur vert d'eau*/
}

.banner {
	font-family: 'IndustryInc-Stencil' !important;
	font-size: 25px;
	padding-top: 10px;
}

.banner a:link { /*bannière non visitée*/
	text-decoration: none;
	color: #2E3135 ; /*gris foncé*/
	padding: 20px;
}

.banner a:hover { /*bannière visée*/
	text-decoration: none;
	color : #2E3135; /*gris foncé*/
	padding: 20px;
}

.banner a:visited { /*bannière visitée*/
	text-decoration: none;
	color : #2E3135; /*gris foncé*/
	padding-left: 5px;
	padding: 20px;
}

.banner a:focus {
	color: #2E3135 ; /*gris foncé*/
	text-decoration: none;
	padding: 20px;
}

.banner img {
	height: 50px;
}

.nav {
	text-align: center; /* Les boutons sont centrés */
	margin-top: 5px;  
}

.nav ul {
	list-style: none; /* pas de petits points */
	margin: 0 0 0 0 !important;
	background-color: #88D1C0; /*couleur bleu fumée*/
	font-size: 20px;
	padding: 15px;
}

.nav ul li {
	display: inline; /* Les éléments de la liste sont alignés */
	margin: 50px; /* Chaques éléments sont décallés de 40px */
}

.nav ul li a {
	color: white; /*test : E0E6E9  sinon F6F2E6*/
	line-height: 20px !important;
	font-family: 'Patrick Hand', cursive !important; 
	font-size: 20px !important;
}

.nav ul li i {
	padding-right: 3px;
}

.nav a:link { /*lien non visité*/
	color: white;
}

.nav a:hover { /*lien visé*/
	color: white;
}

.nav a:visited { /*lien visité*/
	color: white;
}

.nav a:active { /*lien cliqué*/
	color : white;
}


h1 {
	font-family: 'Patrick Hand', cursive !important;
	font-size: 22px !important;
	color: #88D1C0 !important;
	padding-top: 0px !important;
}

h2 {
	font-family: 'Patrick Hand', cursive !important;
	font-size: 20px !important;
}

h3 {
	font-family: 'Patrick Hand', cursive !important;
	font-size: 18px !important;
	padding-left: 25px;
}

article {
	background-color: white;
	padding: 20px;
	font-family: 'Inconsolata' !important ; 
}

article img {
	margin-bottom: 25px;
}

ul li {
	font-family: 'Inconsolata' !important ; 
}

article iframe {
	padding: 25px; 
}

article a:link {
	color : black;
	font-style: italic;
}

article a:hover {
	text-decoration: underline;
	font-style: italic;
	color : black;
}

article a:visited {
	text-decoration: none;
	font-style: italic;
	color : black;
}

article a:active {
	text-decoration: none;
	font-style: italic;
	color : black;
}

footer {
	background-color: #88D1C0; /*couleur vert d'eau*/
	padding: 10px;
	color: white;
	font-size: 15px;
}
