@font-face {
	font-family: 'IndustryInc-Stencil';
	src: url('../fonts/IndustryInc-Stencil.otf');
	text-align: justify
}

@font-face {
	font-family: 'Industry-Medium';
	src: url('../fonts/Industry-Medium.otf');
}

@font-face {
	font-family: 'IndustryInc-InlineStroke';
	src: url('../fonts/IndustryInc-InlineStroke.otf');
}

@font-face {
	font-family: 'IndustryInc-Detail';
	src: url('../fonts/IndustryInc-Detail.otf');
}

@font-face {
	font-family: 'Lane - Narrow';
	src: url('../fonts/LANENAR.ttf');
}

body {
	font-size: 16px !important;
	width: 100%; 
}

header {
	background-color: #88D1C0; /*couleur vert d'eau*/
	width: 100%;
}

header .container {
	width: 100% !important;
}

.banner {
	font-family: 'Patrick Hand', cursive !important;
	font-size: 25px;
	padding-top: 10px;
	width: 100%;
}

.banner a:link { /*bannière non visitée*/
	text-decoration: none;
	color: #2E3135 ; /*gris foncé*/
	padding: 20px;
}

.banner a:hover { /*bannière visée*/
	text-decoration: none;
	color : #2E3135; /*gris foncé*/
	padding: 20px;
}

.banner a:visited { /*bannière visitée*/
	text-decoration: none;
	color : #2E3135; /*gris foncé*/
	padding-left: 5px;
	padding: 20px;
}

.banner a:focus {
	color: #2E3135 ; /*gris foncé*/
	text-decoration: none;
	padding: 20px;
}

.banner img {
	height: 45px;
}

.nav {
	text-align: center; /* Les boutons sont centrés */
	margin-top: 5px;  
}

.nav ul {
	list-style: none; /* pas de petits points */
	background-color: #88D1C0; /*couleur bleu fumée*/
	font-size: 20px;
	padding-bottom: 10px;
}

.nav ul li {
	display: inline; /* Les éléments de la liste sont alignés */
	margin: 35px; /* Chaques éléments sont décallés de 50px */
}

.nav ul li a {
	color: white;
	line-height: 20px !important;
	font-family: 'Patrick Hand', cursive !important;
	font-size: 20px !important;
}

.nav ul li i {
	padding-right: 3px;
}

.nav a:link { /*lien non visité*/
	color: white;
}

.nav a:hover { /*lien visé*/
	color: white;
}

.nav a:visited { /*lien visité*/
	color: white;
}

.nav a:active { /*lien cliqué*/
	color : white;
}

.subnav {
	text-align: center ; /* Les boutons sont centrés */
	position: fixed ;
	width : 100%;
	z-index: 100;
}

.subnav ul {
	list-style: none; /* pas de petits points */
	background-color: #4D4F52; /*couleur gris poivre : 4D4F52 / eucaliptus :#4D7A79 / Coeur amande : #E7E6DD  / 
	nopal : #8F988F / crépuscule : #535B6F* / bleu fumée : #88D1C0/ */
	padding: 5px;
}

.subnav ul li {
	display: inline; /* Les éléments de la liste sont alignés */
	margin: 25px;
}

.subnav ul li a {
	display: inline; /* Les éléments de la liste sont alignés */
	line-height: 20px !important;
	font-size: 16px;
}


h1 {
	font-family: 'Patrick Hand', cursive !important;
	font-size: 22px !important;
	color: #88D1C0 !important;
	padding-top: 0px !important;
}

h2 {
	font-family: 'Patrick Hand', cursive !important;
	font-size: 20px !important;
}

h3 {
	font-family: 'Patrick Hand', cursive !important;
	font-size: 18px !important;
	padding-left: 25px;
}

#carousel-example-generic {
	margin: 20px;
}

.carousel img {
	min-width: 100%;
}

.carousel p {
	color: black;
	font-family: 'Inconsolata' !important ;
	font-size: 16px;
	text-shadow : 0 0px 0px rgba(0,0,0,0) !important;
	background-color: white ; /*4D4F52*/
	border: 2px #4D4F52 solid ;
}

.carousel a {
	color : white;
	font-family: 'Patrick Hand', cursive;
	font-size: 16px;
}

.carousel a:link { /*lien non visité*/
	color: #88D1C0; /*#88D1C0*/
}

.carousel a:hover { /*lien visé*/
	color: #88D1C0;
}

.carousel a:visited { /*lien visité*/
	color: #88D1C0;
}

.carousel a:active { /*lien cliqué*/
	color : #88D1C0;
}

.carousel-caption p  {
	background-color: white;
	padding: 20px;
}

.carousel-caption p a {  /*Texte dans bouton*/
	background-color: white ; /*4D4F52*/
	border: 2px #88D1C0 dotted ;
}

/*
.owl-carousel p {
	color : red;
}
*/

article {
	background-color: white;
	padding: 20px;
	font-family: 'Inconsolata' !important ;
}

article img {
	margin-bottom: 25px;
}

ul li {
	font-family: 'Inconsolata' !important ; 
}

article iframe {
	padding: 25px; 
}

article a:link {
	color : #88D1C0;
	font-style: italic;
}

article a:hover {
	text-decoration: underline;
	font-style: italic;
	color : #88D1C0;
}

article a:visited {
	text-decoration: none;
	font-style: italic;
	color : #88D1C0;
}

article a:active {
	text-decoration: none;
	font-style: italic;
	color : #88D1C0;
}

aside {
	background-color: #2E3135;
	border-radius: 5px;
	color: white;
	font-family: 'Inconsolata';
	padding: 2px 10px;
	margin-top: 55px;
}

footer .container {
	width : 100% !important;
	margin : 0;
	padding : 0;
}

footer .container img {
	width: 100%;
}

footer {
	color: white;
}
