@font-face {
	font-family: 'IndustryInc-Stencil';
	src: url('IndustryInc-Stencil.otf');
}

@font-face {
	font-family: 'Industry-Medium';
	src: url('Industry-Medium.otf');
}

@font-face {
	font-family: 'IndustryInc-InlineStroke';
	src: url('IndustryInc-InlineStroke.otf');
}

@font-face {
	font-family: 'IndustryInc-Detail';
	src: url('IndustryInc-Detail.otf');
}

body {
	font-size: 18px !important;
	padding-top: 10px;
}

.banner {
	background-color: #88D1C0; /*couleur vert d'eau*/
	font-family: 'IndustryInc-Stencil';
	font-size: 25px;
}

.banner img {
	height: 20px;
	border-radius: 50px;
}

.nav {
	text-align: center;
	margin-top: 5px;
}

.nav ul {
	list-style: none;
	margin: 0 0 0 0 !important;
	font-size: 18px;
	padding: 10px;
}

.nav ul li {
	display: inline; 
	margin: 60px;
}

.nav ul li a {
	line-height: 26px;
	font-family: 'IndustryInc-InlineStroke';
}

h1 {
	font-family: 'IndustryInc-Stencil' !important;
	font-size: 20px !important;
}

h2 {
	font-family: 'IndustryInc-InlineStroke' !important;
	font-size: 18px !important;
}

h3 {
	font-family: 'IndustryInc-InlineStroke' !important;
	font-size: 16px !important;
	padding-left: 25px;
}

article {
	background-color: white;
	border: 1px dashed black;
}

article img {
	margin-bottom: 0px;
}

article p {
	text-indent: 20px;
}

